<h1> Hello This is my twitter try-out </h1>
<p>
<%= @tweets %>
</p>
<p>
<%= @followers %>
</p>
<ul class= 'tweets'>
  <% @single_follower.each do |tweet|%>
    <li> <%= tweet.text.to_s %> </li>
  <% end %>
</ul>>